<h2>Upload Image:</h2>

{{#if message}} {{/if}}
<form action="/photo/upload" method="post" enctype="multipart/form-data">
  <div class="file-field input-field">
    <div class="btn">
      <span>File:</span>
      <input name="uploadedImages" type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload your image here">
    </div>
  </div>

  {{!--
  <p class="comment">
    <label for="comment">Comment:</label>
    <input type="text" name="comment" value="{{this.comment}}">
  </p> --}}
  <button type="submit" class="btn">Submit</button>
</form>