<h2>Upload Image:</h2>

{{#if message}} {{/if}}
<form action="/upload" method="post" enctype="multipart/form-data">
  <div class="file-field input-field">
    <div class="btn teal darken-1">
      <span>File</span>
      <input name="uploadedImages" type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload one or more images here">
    </div>
  </div>
  <button type="submit" class="btn">Submit</button>
</form>