<h2>Welcome To Our Wedding Day...</h2>
  <div class="image container">
    <div class="carousel">
      <a class="carousel-item" href="#one!"><img src="image/photo1.jpg"></a>
      <a class="carousel-item" href="#two!"><img src="image/photo2.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="image/photo3.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="image/photo4.jpg"></a>
    </div>
  </div>

<script>
    $(document).ready(function(){
      $('.carousel').carousel();
    });
</script>