body {
  background: white;
  background-image: url(image/blk_logo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box;
}
/* error */
.err-container {
  padding: 25px;
}
.error {
  color: white;
  background: #ed4337;
  border-radius: 3px;
  padding: 5px;
  width: 50%;
}

/* nav */
.nav-wrapper {
  background: #a39ca3;
}

nav .nav-wrapper {
  height: 70px;
  position: fixed;
  width: 100vw;
  top: 0px;
}

nav ul a {
  color: white;
}

nav ul a:hover {
  height: 70px;
}

.dropdown-content li a {
  color: #92908e;
  background: #fffefc;
}

.material-icons {
  color: white;
}

/* header */
#logo {
  height: 65px;
  width: 90px;
  padding-top: 5px;
  padding-left: 10px;
}

h2 {
  font-family: "Tangerine", cursive;
  font-size: 75px;
  text-shadow: 1px 1px 2px black;
  color: #ecd9cb;
  padding-left: 10px;
  padding-top: 10px;
  margin: 10px;
}

h3 {
  font-family: "Tangerine", cursive;
  font-size: 55px;
  text-shadow: 1px 1px 2px black;
  color: #ecd9cb;
}

/* image carousel */
.carousel {
  padding-top: 25px;
}

.carousel .carousel-item {
  position: center;
}

.carousel .carousel-item > img {
  width: 800px;
  height: 550px;
}

/* form */
form {
  margin: 25px;
}

label {
  font-size: 55px;
  font-family: "Lovers Quarrel", cursive;
  text-shadow: 1px 1px 2px black;
  color: #ecd9cb;
}

.comment {
  padding-left: 100px;
}

/* footer */
.footer-wrapper {
  color: white;
  height: 50px;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  padding-left: 5px;
  background: #a39ca3;
}

.btn {
  background: #5f7c6a;
}

.btn a {
  text-decoration: none;
  color: white;
}

span a {
  padding-left: 15px;
}

/* gallery */
.uploadedImages {
  max-height: 20%;
  max-width: 20%;
}

.gallery {
  padding: 25px;
  display: inline;
  grid-template-columns: auto auto auto auto;
}

.editrmv {
  display: inline-flex;
}
