/* body {
  background: white;
  background-image: url(image/blk_logo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box;
} */
